table {
  width: 100%;
  margin-bottom: 50px;

  thead {
    text-align: left;
  }

  td {
    border-bottom: 1px solid @color-section-separator;
  }
}

.defect-preview {
  display: flex;
  margin-bottom: 30px;
  .image {
    flex: 2;
    margin-right: 30px;
    img {
      width: 100%
    }
  }
  .details {
    flex: 5;
    table {
      tr {
        td:first-child {
          width: 100px;
        }
      }
    }
  }
}
