
@color-lighter-gray-background: #fafafa;
@color-light-gray-background: #f0f0f0;
@color-white-background: #ffffff;
@color-section-separator: #d8d8d8;
@color-section-text: #808080;
@color-text-primary: #ee2b0b;
@color-text-default: black;
@color-warning: #ee2b0b;
@normal-font-size: 1.5em;
@header-font-size: 2em;
@color-positive-green:#4CAF50;
@color-positive-green-darker: #43A047;
@color-caution-orange: #FF9800;
@color-caution-orange-darker: #FB8C00;
@color-negative-red: #f44336;
@color-negative-red-darker: #e53935;
@color-dark-black: #212121;
@color-toolbar-gray: #e8e8e8;
